.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.notebookContainer {
  display: flex;
  flex-flow: column;
  padding: 0;
  z-index: 11;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(19, 27, 38);
}

.notebookIframe {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  z-index: 100;
}

.customButtonsContainer {
  z-index: 9999;
  position: absolute;
  right: 16px;
  display: flex;
  justify-content: flex-start;
}

.internalButton {
  font-size: 12px;
  margin: 2px 4px 0;
}

.externalButton,
.externalButton:hover,
.externalButton:focus {
  font-size: 12px;
  color: #1890ff;
}

.refreshText {
  font-size: 14px;
  opacity: 0.8;
}