
.modalWin :global(.ant-modal-body) {
    padding: 0;
    margin: 0;
}

.modalWin :global(.ant-modal-confirm-body-wrapper::before) {
    display: none !important;
}

.modalWin :global(.ant-modal-confirm-title) {
    display: none;
}

.modalWin :global(.ant-modal-confirm-btns) {
    display: none;
}

