
.animRect {
    animation-name: anim_border;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
}

@keyframes anim_border {
    0% {
        border-color: rgba(255,255,255,0.2);
    }
    50% {
        border-color: rgba(58, 255, 0, 0.5);
    }
    100% {
        border-color: rgba(255,255,255,0.2);
    }
}
